main {
    min-height: 100vh;
    padding: 80px 30px 30px 30px;
    background-color: #b1855c;
}

section {
    margin-top: 50px;
    border-radius: 30px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);

}

.team img {
    width: 200px;
    margin: 20px auto;
}

.about {
    line-height: normal;
    text-align: center;
    margin: 0 auto;
}

.about .socialmedia i {
    color: black;
}

.box {
    margin-left: 30px;
    display: flex;
}

.col img {
    margin-left: 40px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .col img {
        margin-left: 28px;
        width: 130px;
    }

    .about {
        font-size: 15px;
        line-height: 15px;
        margin-left: 20px;
    }

    .box {
        margin: 0 auto;
    }
}