/* header */
.mainPic {
    background-image: url(../assets/images/dogRow.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 15%;
    background-attachment: fixed;
}

.mainPic h1 {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color: chocolate;
}

.text {
    font-size: 25px;
}

/* main */

/* line1 */
.section {
    background: linear-gradient(to bottom, #8a501b, white);
    padding: 20px;
    height: 300px;
}

.quiz {
    border: 1px solid black;
    border-radius: 10px;
    /* color: white; */
    max-width: 500px;
    padding: 30px;
    margin: 30px auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

h4,
h5 {
    color: black;
}

.section1 {
    padding: 50px 0;
}

.content {

    text-align: center;

}

.content a {
    text-decoration: none;
}

.pet1 {
    background-image: url(../assets/images/pet1.jpg);
    background-size: cover;
    box-shadow: #8a501b 14px 5px 24px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.pet2 {
    background-image: url(../assets/images/pet2.jpg);
    background-size: cover;
    box-shadow: #8a501b 14px 5px 24px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.pet3 {
    background-image: url(../assets/images/pet3.jpg);
    background-size: cover;
    box-shadow: #8a501b 14px 5px 24px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.pet4 {
    background-image: url(../assets/images/pet4.jpg);
    background-size: cover;
    box-shadow: #8a501b 14px 5px 24px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}


/* Section2 */
.section2 {
    background: linear-gradient(to top, #8a501b, white);
    padding: 20px 120px 20px 120px;
    height: 350px;
}

.div {
    display: inline-block;
    justify-content: space-between;
}

.section3 {
    background-image: url(../assets/images/rows.jpg);
    height: 280px;

}

/*  */

.input {
    width: 100%;
    margin-bottom: 10px;
}

/* section2 */
.box {
    width: 450px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);

}

/* @media (min-width: 768px) and (max-width: 992px) {
    .box {
        width: 450px;
        margin-bottom: 20px;
    }

    .section2 {
        height: 650px;
    } */

    /* .pet1,
    .pet2,
    .pet3,
    .pet4 {
        width: 250px;
        height: 250px;
    } */

    /* .quiz {
        width: 450px;
    }

    .mainPic h1 {
        font-size: 55px;
    }

    .text{font-size: 20px;}

    .mainPic{padding-top:22%;}
} */